html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 100%;
}

::selection {
    color: white; 
    background: hotpink;
}

/* Start Landing Page */
.landing header {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing header h1 {
  font-size: 44px;
}

.landing main {
  height: 65%;
}

.landing main > section {
  max-width: 900px;
  margin: auto;
  padding: 60px;
  font-size: 24px;
}

.landing ul {
  margin: 0;
  padding: 0;
}

.landing li {
  list-style: none;
}

.landing li:hover {
  cursor: pointer;
  opacity: 0.85;
}
/* End Landing Page */

/* Start Post Page */
.post header {
  height: 5%;
  display: flex;
  align-items: center;
  padding: 30px;
}

.post header a {
  text-decoration: none;
  color: #333;
}

.post header a:hover {
  opacity: 0.85;
}

.post main {
  height: 95%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.post main > article {
  padding: 30px;
}

.post main > article h1 {
  margin: 0;
}

.post main > article img {
  width: 100%; 
}

.post main > article .post-body {
  text-align: left;
  line-height: 1.5;
}

.post main > article .post-body a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0.1px solid black;
}

.post main > article .post-body pre {
  font-size: 10px;
}

.post main > article .post-header {
  text-align: left;
}

.post main > article .post-header h1 {
  font-size: 40px;
  text-align: center;
}

.post main > article .post-header h1,
.post main > article .post-header h6 {
  margin: 0;
}

.post main > article .post-header h6 {
  font-weight: 300;
  font-style: italic;
}
/* End Post Page */